<center>
    <h1>Hello Simform</h1><br>
    <h2>Advance Active Record Query Interface Practical</h2><br>
    <h3><%= link_to "Go to Product's list page", products_path %></h3>
    <h3><%= link_to "Go to Customer's list page", customers_path %></h3>
    <h3><%= link_to "Go to Order's list page", orders_path %></h3>
    <br>
    <h3><%= link_to "Most Sales Product by Quantity", orders_most_sales_product_by_quantity_path %></h3>
    <h3><%= link_to "Most Sales Product by Price", orders_most_sales_product_by_price_path %></h3>
    <br>
    <h3><%= link_to "Most Booked Order of Product", orders_most_booked_order_of_product_path %></h3>
    <h3><%= link_to "Most Cancelled Order of Product", orders_most_cancelled_order_of_product_path %></h3>
    <br>    
    <h3><%= link_to "Filter data of order Page", orders_filtered_data_path %></h3>
</center>
