<center>
    <h1>List of Orders</h1><br>
    <table cellpadding="15px" border="1px">
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>View</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        <% @my_orders.each do |order| %>
            <tr>
                <td><b><%= order.my_product.title %></b></td>
                <td><%= order.quantity %></td>
                <td><%= order.total_price %></td>
                <td><%= button_to "View", my_product_my_order_path(@my_product,order), method: :get %></td>
                <td><%= button_to "Edit", edit_my_product_my_order_path(@my_product,order), method: :get %></td>
                <td><%= button_to 'Remove', my_product_my_order_path(@my_product,order), method: 'delete' %></td>
            </tr>
        <% end %>
        <tr>
            <td colspan="6" align="center"><%= button_to "Add new Order", new_my_product_my_order_path, method: :get %></td>
        </tr>
    </table><br>
    <b><%= link_to "Back", my_products_path %></b>
</center>
