<center>
    <h1>Change Password</h1>

    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p style = "color:red"><%= error %></p>
        <% end %>
    <% end %>
    
    <%= form_with(model: @user, local: false, url: password_update_myuser_path) do |form| %>
        <table cellpadding="15px">
            <tr>
                <td><%= form.label :old_password %></td>
                <td><%= form.password_field :password %></td>
            </tr>
            <tr>
                <td><%= form.label :new_password %></td>
                <td>
                    <%= form.password_field :password, id:"pwd1", onchange:"PassCheck()" %>
                    <br><span id = "message" style="color:red"> </span>
                </td>
            </tr>
            <tr>
                <td><%= form.label :password_confirmation %></td>
                <td>
                    <%= form.password_field :password_confirmation, id:"pwd2", onchange:"PassCheck()"%>
                    <br><span id = "message1" style="color:red"> </span>    
                </td>
            </tr>
        </table>
        <div id="button" style="display:none;"><%= form.submit %></div><br>
        <b><%= link_to "Back", myusers_path %></b>
    <% end %>

    <script> 
        // for password validation
        function PassCheck() {
            var password = document.getElementById('pwd1');
            var vpassword = document.getElementById('pwd2');
            var regularExpression  = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            
            if(!regularExpression.test(password)) {
                document.getElementById("message").innerHTML=
                    "Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character";
                }else{
                    document.getElementById("message").innerHTML=""
            }

            if (password.value != vpassword.value) {
                document.getElementById("button").style.display = "none";
                document.getElementById("message1").innerHTML="Password and confirm Password must be same!";
            }
            else {
                document.getElementById("button").style.display = "block";
            }
        }
    </script>
</center>
