<center>
    <h1>Edit User Profile</h1>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p style = "color:red"><%= error %></p>
        <% end %>
    <% end %>
    
    <%= form_with(model: @user, local: false) do |form| %>
        <table cellpadding="15px">
            <tr>
                <td><%= form.label :first_name %></td>
                <td><%= form.text_field :first_name %></td>
            </tr>
            <tr>
                <td><%= form.label :last_name %></td>
                <td><%= form.text_field  :last_name %></td>
            </tr>
            <tr>
                <td><%= form.label :email %></td>
                <td><%= form.email_field :email, id:"email", oninput:"emailChange();" %></td>
            </tr>
            <tr>
                <td><%= form.label :password %></td>
                <td id="pwd1" style="display:none;"><%= form.password_field :password %></td>
            </tr>
            <tr>
                <td><%= form.label :subscribe %></td>
                <td><span id="myCheck"  onclick="addbox();"><%= form.check_box :subscription %></span></td>
            </tr>
            <tr >
                <td><%= form.label :subscription_email %></td>
                <% if @user.subscription%>
                    <td><%= form.email_field :subscription_email, id:"area" %></td>
                <% else %>
                    <td><%= form.email_field :subscription_email, id:"area", style:"display:none;" %></td>
                <% end %>
            </tr>
        </table>
        
        <div id="button"><%= form.submit data: { disable_with: "Saving..." } %></div><br>
        <b><%= link_to "Back", myusers_path %></b>
    <% end %><br>
    
    <div id="result">
    </div>

    <script>
        // For display password field when user changes email
        function emailChange() {
            var email = document.getElementById('email').value;
            var value = "<%= @user.email %>";
            if (email != value) {
                document.getElementById('pwd1').style.display = "block";
            }
        }

        // For display subscription_email field when user check subscribe box
        document.getElementById("myCheck").addEventListener("click", function() {
            toggle('area');
        });

        function toggle(obj) {
            var el = document.getElementById(obj);
            el.style.display = (el.style.display != 'none' ? 'none' : '' );
        }        
    </script>
</center>
