<center>
    <h1>User Details</h1><br>
    <h2><%= @user.full_name %></h2><br>
    <table cellpadding="14px">
        <tr>
            <td><b>User First Name : </b></td>
            <td><%= @user.first_name %></td>
        </tr>
        <tr>
            <td><b>User Last Name : </b></td>
            <td><%= @user.last_name %></td>
        </tr>
        <tr>
            <td><b>Email : </b></td>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <td><b>Password : </b></td>
            <td><%= @user.password %></td>
        </tr>
        <tr>
            <td><b>Subscription : </b></td>
            <td><%= @user.subscription %></td>
        </tr>
        <tr>
            <td><b>Subscription Email : </b></td>
            <td><%= @user.subscription_email %></td>
        </tr>
    </table><br>
    <b><%= link_to "Back", myusers_path %></b>
</center>
