<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style = "color:red"><%= error %></p>
    <% end %>
<% end %>
  
<%= form_for @my_product do |p| %>
    <table cellpadding="15px">
        <tr>
            <td><%= p.label :title %></td>
            <td><%= p.text_field :title %></td>
        </tr>
        <tr>
            <td><%= p.label :description %></td>
            <td><%= p.text_area :description %></td>
        </tr>
        <tr>
            <td><%= p.label :price %></td>
            <td><%= p.number_field :price %></td>
        </tr>
        <tr>
            <td><%= p.submit %></td>
        </tr>
        <tr>
            <td><b><%= link_to "Back", my_products_path %></b></td>
        </tr>
    </table>
<% end %>
