<center>
    <h1>Product Details</h1><br>
    <h2><%= @my_product.title %></h2><br>
    <table cellpadding="14px">
        <tr>
            <td><b>Title : </b></td>
            <td><%= @my_product.title %></td>
        </tr>
        <tr>
            <td><b>Description : </b></td>
            <td><%= @my_product.description %></td>
        </tr>
        <tr>
            <td><b>Price : </b></td>
            <td><%= @my_product.price %></td>
        </tr>
        <tr>
            <td><b>No of Orders : </b></td>
            <td><%= @my_product.my_orders.count %></td>
        </tr>
    </table><br><br>

    <h1>List of Orders for <%= @my_product.title %></h1><br>
    <table cellpadding="15px" border="1px">
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>View</th>
        </tr>
        <% @my_product.my_orders.each do |order| %>
            <tr>
                <td><b><%= order.my_product.title %></b></td>
                <td><%= order.quantity %></td>
                <td><%= order.total_price %></td>
                <td><%= button_to "View", my_product_my_order_path(@my_product,order), method: :get %></td>
            </tr>
        <% end %>
    </table><br>
</center>
