<center>
    <h1>List of Orders</h1>
    <%= form_tag orders_path, method: :get do %>
        <table cellpadding = "15px">
            <tr>
                <td><b>Search Order by Product Name : </b></td>
                <td><%= text_field_tag :search, params[:search] %></td>
                <td><%= submit_tag "Search" %></td>
                <td><%= link_to "Back", orders_path, method: :get %></td>
            </tr>
        </table>
    <% end %>
    <%= render 'orders' %>
</center>
