<h1>Edit Book Details</h1>
<%= form_for @book do |form| %>
    <table cellpadding = "10px">
        <tr>
        <td><%= form.text_field :name, placeholder: 'Enter Book Name' %></td>
        </tr> <tr>
        <td><%= form.text_field :price, placeholder: 'Enter Book Price' %></td>
        </tr> <tr>
        <td><%= form.collection_select :author_id, Author.all, :id, :fname%></td>
        </tr> <tr>
        <td><%= form.submit %></td>
        </tr> <tr>
        <td><b><%= link_to "Back", books_path%></b></td>
        </tr>
    </table>
<% end %>
