<center>
  <h1>List of Products with Is Active true</h1>
  <table cellpadding="15px" border="1px">
    <tr>
      <th>Product Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Capacity</th>
      <th>Is Active?</th>
      <th>Status</th>
      <th>Order Count</th>
      <th>View</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td><b><%= product.title%></b></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.capacity %></td>
        <td><%= product.is_active %></td>
        <td><%= product.status %></td>
        <td><%= product.orders.count %></td>
        <td><%= button_to "View", product_path(product), method: :get %></td>
        <td><%= button_to "Edit", edit_product_path(product), method: :get %></td>
        <td><%= button_to 'Remove', product_path(product), method: 'delete' %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="19" align="center"><%= button_to "Add new Product", new_product_path, method: :get%></td>
    </tr>
  </table><br>
  <b><%= link_to "Back", products_path %></b>
</center>
