<h1>Create New Image</h1>

<%= form_for @image do |f|%>
    <table cellpadding="15px">
        <tr>
            <td><%= f.label :Name %></td>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
            <td><%= f.label :Imageable_Type %></td>
            <td><%= f.text_field :imageable_type %></td>
        </tr>
        <tr>
            <td><%= f.label :Imageable_Id %></td>
            <td><%= f.text_field :imageable_id %></td>
        </tr>
        <tr>
            <td><%= f.submit %></td>
        </tr>   
        <tr>
            <td><b><%= link_to "Back", images_path%></b></td>
        </tr>
    </table>
<%end%> 
